media/
.idea/
__pycache__
button/__pycache__
*.pyc
venv/
db.sqlite3
api/migrations
*.log
*.pot
*/__pycache__/
*.pyc
**/migrations/*
data/
log/
seoulsoft_mes/settings.py
uwsgi.ini
/staticfiles/
my_settings.py