media/
.idea/
__pycache__
button/__pycache__
*.pyc
venv/
api/migrations
*.log
*.pot
*/__pycache__/
*.pyc
**/migrations/*
data/
log/
button/settings.py
uwsgi.ini
/staticfiles/
/my_settings.py
/button/settings.py

