{% include "header.html" %}
{% include 'menu.html' %}
{% load static %}
<div class="col-md-12 order-3 order-lg-12 mb-4 ">
  <div class="card text-center">
    <div class="card-header py-3"></div>
    <div class="tab-content pt-0">
      <div class="tab-pane fade show active">
        <div class="table-responsive text-start">
          <table class="table table-borderless text-nowrap">
            <thead>
              <tr>
                <th>아이디(이메일)</th>
                <th>법인명</th>
                <th>대표자명</th>
                <th>위치</th>
                <th>갯수</th>
                <th>가입일자</th>
              </tr>
            </thead>
            <tbody>
              <tr class="btn-outline-light">
                <td>tst_moda223</td>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="{% static 'assets/img/icons/brands/chrome.png' %}" alt="Chrome" height="24" class="me-2"/>
                    <span>Chrome</span>
                  </div>
                </td>
                <td>크롬</td>
                <td>경기도 오산시 오산동</td>
                <td>
                    3
                </td>
                <td>
                  <span class="badge bg-success text-light">New</span>
                </td>
                <td>
                  <div clsas="d-flex justify-content-between align-items-center gap-3">
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash"></i>
                  </div>
                </td>
              </tr>
              <tr class="btn-outline-light">
                <td>yuwell2377</td>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="{% static 'assets/img/icons/brands/safari.png' %}" alt="Safari" height="24" class="me-2"/>
                    <span>Safari</span>
                  </div>
                </td>
                <td>사파리</td>
                <td>경기도 성남시 판교동</td>
                <td>
                  2
              </td>
              <td>
                <span class="badge bg-success text-light">한달전</span>
              </td>
              <td>
                <div clsas="d-flex justify-content-between align-items-center gap-3">
                  <i class="fas fa-edit"></i>
                  <i class="fas fa-trash"></i>
                </div>
              </td>
                </tr>
                <tr class="btn-outline-light">
                  <td>yusell3342</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <img src="{% static 'assets/img/icons/brands/firefox.png' %}" alt="Firefox" height="24" class="me-2"/>
                      <span>Firefox</span>
                    </div>
                  </td>
                  <td>파이어폭스</td>
                  <td>서울시 관악구 신림동</td>
                  <td>
                    3
                </td>
                <td>
                  <span class="badge bg-dark text-light">1년전</span>
                </td>
                <td>
                  <div clsas="d-flex justify-content-between align-items-center gap-3">
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash"></i>
                  </div>
                </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
