{% load static %}
<script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/vendor/libs/hammer/hammer.js' %}"></script>
<script src="{% static 'assets/vendor/libs/i18n/i18n.js' %}"></script>
<script src="{% static 'assets/vendor/libs/typeahead-js/typeahead.js' %}"></script>
<script src="{% static 'assets/vendor/js/menu.js' %}"></script>

<!-- endbuild -->

<!-- Vendors JS -->
<script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>

<!-- Page JS -->
<script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>
    <script>
        let pageName = {
            'dashboard':  "관리자용 대쉬보드",
            'breakDown': '고장식별 기준관리'
        }
        let url_name = '{{ request.resolver_match.url_name }}'
        console.log(url_name)
        document.getElementById("menuTitle").innerHTML = pageName[url_name] || url_name
    </script>
</body>

</html>
